/**
 * CONTENTS
 *
 * SECTIONS
 * Header.............Title, image, copy
 * Text...............Body of the article
 * Carousel...........Carousel
 * Related............Related articles
 **/

.text-center {
  text-align: center;
}

.azul {
  color: #0451DD;
}

.gris {
  color: #AFAFAF;
}

.oscuro {
  color: #3C3C3C;
}

.medio {
  color: #333333;
}

.negro {
  color: #000;
}

.upper {
  text-transform: uppercase;
}

.din {
  font-family: DIN;
  font-style: normal;
  font-weight: bold;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.w-100 {
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.main-layout.full {
  max-width: 100%;
}

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.section--header {
  padding: 15.5rem 2rem 0;
  width: 100%;
  max-width: 68rem;
  margin: auto;
}

@media(max-width: 767px) {
  .section--header {
    padding: 11.5rem 0 0;
  }
}

.section--header::before {
  background-color: #FAFAFA;
}

#compartir {
  position: absolute;
  left: -31rem;
  font-weight: 400;
  top: 18.8rem;
  padding: 1.3rem 1.6rem;
  border-radius: 8px;
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  text-align: center;
  width: 22.8rem;
}

@media(max-width: 1025px) {
  #compartir {
    position: relative;
    left: 0;
    top: 0;
  }
}

@media(max-width: 767px) {
  #compartir {
    display: none;
  }
}

#compartir img {
  margin-right: 0.9rem;
}

.tippy-box[data-theme~='itau'] {
  background-color: white;
  color: black;
  /*box-shadow: 0px 12px 15px rgba(242, 242, 242, 0.85);*/
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  width: 20rem;
  margin-top: -3px;
}

.tippy-arrow {
  color: white;
}

.breadcrumbs h6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: calc(2.8 / 1.6);
  padding: 4.2rem 0 4rem;
  letter-spacing: -0.01rem;
}

@media(max-width: 767px) {
  .breadcrumbs h6 {
    padding: 0;
    letter-spacing: 0;
    padding-left: 3rem;
  }
}

#redes {
  padding: 1.2rem 0.5rem 0;
}

#redes li {
  margin-bottom: 1.7rem;
  line-height: 1rem;
  font-size: 1.4rem;
}

#redes li:last-child {
  margin-bottom: 1.2rem;
}

#redes span {
  background-color: #0451DD;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  margin-right: 0.8rem;
  vertical-align: middle;
}

.header__title {
  margin-bottom: 2.8rem;
  max-width: 14em;
  font-size: 4.8rem;
  line-height: 1.25;
  margin-top: -0.2rem;
}

@media(max-width: 767px) {
  .header__title {
    font-size: 3.7rem;
    font-weight: 500;
    padding: 2.3rem 3rem;
    line-height: 1.2;
    letter-spacing: -0.05rem;
    margin-bottom: 0;
  }
}

.header__text {
  max-width: 55rem;
  margin-bottom: 3rem;
  margin-left: -1px;
}

.date {
  margin-bottom: 2.7rem;
}

.imagen {
  margin-bottom: 3rem;
}

.imagen img {
  width: 100%;
}

.imagen small {
  font-size: 1.4rem;
  color: #979797;
}

@media(max-width: 767px) {
  .imagen img {
    height: 25rem;
    object-fit: cover;
  }

  .imagen small {
    display: none;
  }
}

.text--body-01 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: calc(2.5 / 1.6);
  letter-spacing: -0.017rem;
  margin-bottom: 2.8rem;
}

@media(max-width: 767px) {
  .text--body-01 {
    padding: 0 3rem;
  }
}

hr {
  border-color: #0451DD;
  margin-top: 2.8rem;
  width: 5.6rem;
}

@media(max-width: 767px) {
  hr {
    margin-top: -1.5rem;
    margin-left: 3rem;
  }
}

/*------------------------------------*\
  #BODY
\*------------------------------------*/

.section--text {
  padding: 2rem;
  width: 100%;
  max-width: 68rem;
  margin: auto;
}

@media(max-width: 767px) {
  .section--text {
    padding: 1.3rem 3rem;
  }
}

.section--text::before {
  background-color: #FAFAFA;
  background-image: url(../images/benefits/benefits/right-shape.svg);
  background-position: 120% 39%;
  background-repeat: no-repeat;
}

.section--text h4 {
  font-size: 2.5rem;
  margin: 3.2rem 0 4.7rem;
  font-weight: 500;
  letter-spacing: -0.04rem;
}

@media(max-width: 767px) {
  .section--text h4 {
    line-height: 1.2;
    margin-bottom: 6rem;
  }
}

.section--text p {
  font-size: 1.9rem;
  padding: 0 4px;
  padding-right: 5px;
  letter-spacing: -0.045rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

@media(max-width: 767px) {
  .section--text p {
    padding: 0;
  }
}

.section--text img {
  max-width: 98.5%;
  margin: 8.5rem auto 6.5rem;
}

.section--text h6 {
  margin-top: 7.2rem;
  font-size: 1.8rem;
  margin-bottom: 5.5rem;
}

.section--text a {
  color: var(--blue);
}

.section--text > ul {
  list-style: none;
  padding: 2.7rem 23.9%;
  font-size: 1.8rem;
  padding-right: 17%;
  line-height: 1.7;
  margin-bottom: -1rem;
}

@media(max-width: 767px) {
  .section--text > ul {
    padding: 3rem 10%;
  }
}

.section--text > ul > li {
  position: relative;
  margin-bottom: 3.6rem;
}

.section--text > ul > li::before {
  content: "\2022";
  color: var(--blue);
  font-weight: bold;
  display: block;
  font-size: 1.7em;
  position: absolute;
  top: -1rem;
  right: 107.5%;
}

.section--text ul ul {
  list-style: disc;
  padding-left: 7%;
  margin-bottom: 5.2rem;
}

#scroll {
  position: fixed;
  top: 87vh;
  right: 6.5%;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  z-index: 2;
  padding-top: 4px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}


/*------------------------------------*\
  #CAROUSEL
\*------------------------------------*/

.section--carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 4rem;
  position: relative;
  margin-top: -2.5rem;
  z-index: 2;
}

@media(max-width: 1025px) {
  .section--carousel {
    padding: 0 0 4rem;
  }
}

@media(max-width: 767px) {
  .section--carousel {
    padding: 0;
  }
}

.section--carousel::before {
  background-color: #FAFAFA;
  background-image: url(../images/blog/adorno2.svg);
  background-position: -5% 0;
  background-repeat: no-repeat;
}

.carousel-list {
  --card-spacing: 4rem;
  display: flex;
  flex-flow: row wrap;
  max-width: 144rem;
  width: 100%;
}

.carousel-list.carousel {
  overflow: hidden;
  max-height: 46rem;
}

.carousel-list .carousel__slides-wrapper {
  display: flex;
  margin-left: calc(var(--card-spacing) * -1);
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.carousel-list .carousel__controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-list .carousel__control {
  color: var(--light-blue);
}

.carousel-list .carousel__control:first-child {
  margin-right: 1rem;
}

.carousel-list .carousel__slide {
  display: flex;
  flex: 1 0 auto;
  padding-left: var(--card-spacing);
  position: relative;
}

.carousel-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.6rem;
  position: relative;
  text-align: center;
  transition: transform 0.5s ease;
  width: 46.3rem;
  height: 33rem;
  transform: scale(0.9);
}

.carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 769px) {
  .carousel-card img {
    height: auto;
  }
}

@media(max-width: 767px) {
  .carousel-card img {
    height: 100%;
  }
}

@media(max-width: 767px) {
  .carousel-card img {
    object-fit: contain;
  }
}

.carousel-list .carousel__slide--active .carousel-card {
  transform: scale(1.1);
  box-shadow: 0px 4px 40px rgba(4, 81, 221, 0.7);
}

@media(max-width: 769px) {
  .carousel-list .carousel__slide--active .carousel-card {
    box-shadow: none;
    transform: none;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .carousel-list .carousel__slides-wrapper {
    margin-left: 0;
  }

  .carousel-list .carousel__slide {
    padding-left: 0;
    width: 100%;
  }
}

@media(max-width: 769px) {
  .carousel-list.carousel {
    padding: 0 2rem;
  }
}

.section--carousel .carousel__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 11%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

@media(max-width: 1441px) {
  .section--carousel .carousel__controls {
    margin-top: 14%;
    width: 40%;
  }
}

@media(max-width: 1369px) {
  .section--carousel .carousel__controls {
    margin-top: 15%;
    width: 42%;
  }
}

@media(max-width: 1281px) {
  .section--carousel .carousel__controls {
    margin-top: 17%;
    width: 45%;
  }
}

@media(max-width: 1025px) {
  .section--carousel .carousel__controls {
    margin-top: 20%;
    width: 55%;
  }
}

@media(max-width: 769px) {
  .section--carousel .carousel__controls {
    margin-top: 30%;
    width: 100%;
  }
}

@media(max-width: 767px) {
  .section--carousel .carousel__controls {
    margin-top: 55%;
  }
}

.section--carousel .carousel__controls button {
  background-color: #fff;
  border-radius: 100%;
  padding: 0.9rem;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.section--carousel .carousel__control {
  color: var(--light-blue);
}

.section--carousel .carousel__control:first-child {
  margin-right: 1rem;
}

.section--carousel .carousel-list {
  margin-bottom: 9rem;
}

@media(max-width: 767px) {
  .section--carousel .carousel-list {
    margin-bottom: 0;
  }
}

.maxed {
  width: 100%;
  max-width: 68rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media(max-width: 767px) {
  .maxed {
    padding: 0 3rem;
  }
}

.maxed > a {
  font-size: 1.85rem;
  font-weight: 600;
  text-decoration: underline;
  color: var(--blue);
}

.maxed > a > img {
  margin-right: 1.9rem;
  margin-bottom: -4px;
}

.maxed+.maxed {
  margin-top: 3.4rem;
  margin-bottom: 10.4rem;
}

#compartir2 {
  position: relative;
  font-weight: 400;
  padding: 1.3rem 1.6rem;
  border-radius: 8px;
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  text-align: center;
  width: 28.2rem;
}

#compartir img {
  margin-right: 0.9rem;
}

@media(max-width: 767px) {
  #compartir2 {
    font-size: 1.6rem;
    margin-top: 0.8rem;
    width: 31.5rem;
    padding: 1.7rem;
  }
}


/*------------------------------------*\
  #RELATED
\*------------------------------------*/

.section--related {
  padding: 9rem 0 7.7rem;
  width: 100%;
}

.section--related::before {
  background-color: #fff;
  background-image: url(../images/benefits/benefits/right-shape.svg);
  background-position: 120% 10%;
  background-repeat: no-repeat;
}

.related {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 112rem;
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

.related .underlined {
  margin: 10px 5px 0;
  font-weight: 600;
}

@media(max-width: 767px) {
  .section--related {
    padding: 5rem 0;
  }

  .section--related::before {
    display: none;
  }

  .related h5 {
    padding-left: 1rem;
  }
}

.carousel-list-2 {
  --card-spacing: 2rem;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding-left: 40rem;
}

@media(max-width: 1441px) {
  .carousel-list-2 {
    padding-left: 15rem;
  }
}

@media(max-width: 1369px) {
  .carousel-list-2 {
    padding-left: 13rem;
  }
}

@media(max-width: 1281px) {
  .carousel-list-2 {
    padding-left: 7rem;
  }
}

@media(max-width: 1025px) {
  .carousel-list-2 {
    padding-left: 0;
  }
}

.carousel-list-2.carousel {
  overflow: hidden;
  max-height: 70rem;
}

.carousel-list-2 .carousel__slides-wrapper {
  display: flex;
  margin-left: calc((var(--card-spacing) * -1) - 43rem);
  padding-top: 4rem;
  padding-bottom: 3.5rem;
}

@media(max-width: 1441px) {
  .carousel-list-2 .carousel__slides-wrapper {
    margin-left: calc((var(--card-spacing) * -1) - 21rem);
  }
}

@media(max-width: 1369px) {
  .carousel-list-2 .carousel__slides-wrapper {
    margin-left: calc((var(--card-spacing) * -1) - 17rem);
  }
}

@media(max-width: 1281px) {
  .carousel-list-2 .carousel__slides-wrapper {
    margin-left: calc((var(--card-spacing) * -1) - 11rem);
  }
}

@media(max-width: 1025px) {
  .carousel-list-2 .carousel__slides-wrapper {
    margin-left: 5rem;
  }
}

@media(max-width: 769px) {
  .carousel-list-2 .carousel__slides-wrapper {
    margin-left: 0;
  }
}

@media(max-width: 767px) {
  .carousel-list-2 .carousel__slides-wrapper {
    margin-left: -9rem;
    padding-top: 3.3rem;
  }
}

.carousel-list-2 .carousel__controls {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.carousel-list-2 .carousel__control {
  color: var(--light-blue);
}

.carousel-list-2 .carousel__control:first-child {
  margin-right: 1rem;
}

.carousel-list-2 .carousel__slide {
  display: flex;
  flex: 1 0 auto;
  padding-left: var(--card-spacing);
  position: relative;
}



/*------------------------------------*\
  #INHERITED FROM BLOG
\*------------------------------------*/
.text--h1b {
  font-size: 3rem;
  font-weight: 500;
}

@media(max-width: 767px) {
  .text--h1b {
    font-size: 2.4rem;
    line-height: 1.3;
  }
}

.section--related .date {
  margin-top: 1.3rem;
  margin-bottom: 0;
}

@media(max-width: 767px) {
  .section--header .date {
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    padding: 0 3.1rem;
  }
}

.masonry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 767px) {
  .masonry {
    padding: 2px 2rem;
    display: block;
    margin-bottom: 0;
  }
}

.card {
  display: inline-block;
  width: 33.8rem;
  border-radius: 0px 0px 8px 8px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgb(175 175 175 / 25%);
  transition: 0.4s;
  margin-bottom: 3.4rem;
  flex: 0 0 33.8rem;
}

.card:hover {
  box-shadow: 0px 4px 20px rgb(4 81 221 / 15%);
}

.card-image {
  height: 22.3rem;
  object-fit: cover;
}

.card-body {
  padding: 3.4rem 3.1rem 0;
}

.card-body h3 {
  height: 13.5rem;
  overflow: hidden;
}

.underlined {
  display: block;
  border-bottom: 1px solid #0451DD;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.card-footer {
  padding: 1.4rem 3.1rem 4.1rem;
  display: flex;
  justify-content: space-between;
}

.more {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.more svg {
  margin: 0 3px 2px 15px;
}

.load-more .button {
  padding: 1.2rem 4.4rem;
  letter-spacing: 0.14rem;
  border-radius: 4px;
}

@media(max-width: 767px) {
  .card {
    width: 100%;
    margin-bottom: 4.6rem;
    max-width: 25rem;
  }

  .card-image {
    height: 17rem;
  }

  .card-body {
    padding: 2rem 1.6rem 0;
  }

  .card-body h3 {
    height: 10rem;
  }

  .card-footer {
    padding: 2.1rem 1.6rem 2.9rem;
  }

  .more {
    font-size: 1.2rem;
    margin-top: 12px;
  }

  .load-more .button {
    margin-top: 2px;
    margin-bottom: 2.8rem;
  }
}