/*------------------------------------*\
  #SECTION-BENEFITS
\*------------------------------------*/

.section--benefits {
  --fg-color: var(--black);

  align-items: center;
  padding: 24.8rem 0 4rem;
  position: relative;
}

.section--benefits::before {
  background-image: url("../images/benefits/benefits/lines.svg"), url("../images/benefits/benefits/left-shape.svg"),
    url("../images/benefits/benefits/right-shape.svg");
  background-position: center, left 68%, right 70%;
  background-repeat: no-repeat;
}

.benefits__title {
  margin-bottom: 1.6rem;
}

.benefits__text {
  line-height: calc(1.9 / 1.6);
  margin-bottom: 11rem;
  max-width: 43em;
  text-align: center;
}

.benefits-carousel {
  --card-spacing: 0.5rem;

  display: flex;
  flex-direction: column;
  max-width: 121rem;
  overflow: hidden;
  padding: 3rem 0;
  position: relative;
  width: 100%;
}

.benefits-carousel__wrapper {
  position: relative;
}

.benefits-carousel__wrapper.is-dragging {
  cursor: grabbing;
}

.benefits-carousel__wrapper.is-draggable {
  cursor: grab;
}

.benefits-carousel__slide-list {
  display: flex;
  margin-bottom: 4rem;
  margin-left: calc(var(--card-spacing) * -1);
}

.benefits-carousel__slide-list .slide-list__item {
  display: flex;
  padding-left: var(--card-spacing);
  position: relative;
}

.benefits-card {
  align-items: center;
  background: var(--white);
  border-radius: 0.6rem;
  box-shadow: 0px 4px 10px rgba(175, 175, 175, 0.25);
  display: flex;
  flex-direction: column;
  filter: brightness(0.98);
  padding: 1rem 1.5rem 3rem;
  position: relative;
  text-align: center;
  transform: scale(0.85);
  transition: transform 0.5s ease, shadow 0.2s ease, filter 0.2s ease;
  width: 24.3rem;
}

.benefits-card.benefits-card--active {
  box-shadow: 0px 4px 20px rgba(4, 81, 221, 0.15);
  filter: none;
  transform: unset;
}

.benefits-card__label {
  align-items: center;
  align-self: flex-end;
  background: var(--light-blue);
  border-radius: 0.2rem 0 0 0.2rem;
  color: var(--white);
  display: flex;
  height: 2.4rem;
  justify-content: center;
  margin-bottom: 3.2rem;
  margin-right: -1.5rem;
  text-transform: uppercase;
  visibility: hidden;
  width: 7rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: calc(1.4 / 1.2);
}

.benefits-card--new .benefits-card__label {
  visibility: visible;
}

.benefits-card__icon {
  margin-bottom: 1.8rem;
}

.benefits-card__title {
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: calc(2.8 / 1.8);
}

.benefits-card__text {
  color: var(--mid-black-grey);
  text-align: center;
}

.is-draggable {
  cursor: grab;
}

.is-dragging {
  cursor: grabbing;
}

.benefits-carousel__controls {
  align-self: center;
}

.carousel-controls__left-arrow,
.carousel-controls__right-arrow {
  background: none;
  border: none;
}

.carousel-controls__left-arrow:focus,
.carousel-controls__right-arrow:focus {
  outline: none;
}

.carousel-controls__left-arrow,
.carousel-controls__right-arrow {
  background: none;
  border: none;
  color: var(--light-blue);
  cursor: pointer;
}

.carousel-controls__left-arrow {
  margin-right: 3rem;
}

/* Section: Tabs */

.section--addons {
  padding-top: 6rem;
}

.section--addons::before {
  background-image: url("../images/benefits/bg-tab.svg");
  background-repeat: no-repeat;
  background-position: center left;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  padding-top: 12rem;
  padding-bottom: 4rem;
  position: relative;
}

.tabs__header {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 5;
  position: -webkit-sticky;
  position: sticky;
  top: 14rem;
}

.header__title {
  color: var(--blue);
  margin-bottom: 8rem;
}

.header__item-list {
  display: flex;
  flex-direction: column;
}

.header__item {
  border-radius: 1rem;
  color: var(--mid-black-grey);
  cursor: pointer;
  margin-bottom: 3.4rem;
  max-width: 15em;
  transform: scale(0.85);
  transform-origin: left;
  transition: transform 0.2s, color 0.2s;
  padding: 1rem;
  position: relative;
  text-align: left;
  z-index: 0;
}

.header__item::before {
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0.35rem 3rem var(--blue--translucent-300);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  width: 100%;
  z-index: -1;
}

.header__item:hover {
  color: var(--blue);
}

.header__item--selection {
  display: none;
}

.header__item--active,
.header__item--selection {
  color: var(--blue);
  transform: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}

.header__item--active::before,
.header__item--selection::before {
  opacity: 1;
}

.tabs__content {
  grid-column: 6 / 12;
}

.tabs--addons {
  padding-top: 12rem;
  padding: 0;
}

.card-list {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 8rem;
  row-gap: 8rem;
}

.garantia-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.garantia-card .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.garantia-card__title {
  margin-bottom: 1.6rem;
}

.garantia-card__label {
  background-color: var(--light-blue);
  color: var(--white);
  display: inline-block;
  margin-bottom: 2.4rem;
  padding: 0.5rem 2.5rem;
}

.garantia-card__content {
  margin-bottom: 2rem;
}

.garantia-card .garantia__button {
  margin-top: 1.8rem;
}
 

.tab--maintainance {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7rem;
}

.maintainance__description {
  grid-column: 1 / 3;
  max-width: 34em;
}

.maintainance__content {
  display: grid;
  grid-column: 1 / 3;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  row-gap: 2rem;
  width: 100%;
}

.feature {
  display: flex;
  font-size: 2rem;
}

.feature::before {
  background-image: url('../images/icons/icon--dark-check.svg');
  background-size: 100%;
  content: '';
  height: 2.4rem;
  margin-right: 2rem;
  margin-top: 0.4rem;
  width: 2.4rem;
}

.tab--services {
  row-gap: 4.7rem;
  grid-template-columns: 1fr;
}

.services-card {
  column-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-end;
}

.services-card__images {
  position: relative;
  height: 100%;
}

.services-card__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.services-card__texts {
  display: flex;
  flex-direction: column;
}

.services-card__title {
  margin-bottom: 1.6rem;
}

.services-card__action {
  flex: 1 0 auto;
}

.services-card__content {
  flex: 1 1 100%;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  max-width: 18em;
}

.services-card__label {
  background-color: var(--light-blue);
  color: var(--white);
  grid-column: 1;
  padding: 0.6rem 1.25rem;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1250px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 800px) {
  .section--benefits {
    padding: 16rem 0;
  }

  .section--benefits::before {
    background-position: center, left -30%, right 80%;
  }

  .benefits__title {
    text-align: center;
  }

  .benefits__text {
    max-width: 17em;
    margin-bottom: 3rem;
  }
}

.section--thought-for {
  padding: 2rem 0 10.3rem;
  margin: 0 auto;
  max-width: 108rem;
  width: 100%;
}

.thought-for__title {
  margin-bottom: 9rem;
  max-width: 10em;

  /* TODO: Check if all h2 titles have this weight */
  font-weight: 500;
}

.card-group {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: 0 -2rem;
  padding-left: 1rem;
}

.card-group__item {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  color: var(--dark-blue);
  font-size: 2.279rem;
  margin: 0 1rem 2.2rem;
  line-height: calc(2.735 / 2.279);
  padding: 1.4rem 2rem;
}

@media screen and (max-width: 650px) {
  .tabs {
    grid-template-columns: 1fr;
  }

  .tabs__header,
  .tabs__content {
    grid-column: unset;
  }

  .header__title {
    max-width: 9.5em;
    text-align: center;
  }

  .tabs__header {
    align-items: center;
    padding: 0 2rem;
    top: -5rem;
    z-index: 1;
  }

  .header__item-list {
    align-items: stretch;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0.35rem 3rem var(--blue--translucent-300);
    padding: 2rem;
    position: absolute;
    pointer-events: none;
    top: calc(100% - 2rem);
    transform: scale(0.9, 0) translateY(-10rem);
    transform-origin: top;
    transition: transform 0.2s;
    width: calc(100% - 4rem);
    z-index: 2;
  }

  .tabs__header--open .header__item-list {
    transform: none;
    pointer-events: all;
  }

  .header__item--selection {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .header__item--selection::after {
    content: url('../images/icons/icon--blue-chevron-down.svg');
    transition: transform 0.2s;
  }

  .tabs__header--open .header__item--selection::after {
    transform: rotate(-180deg);
  }

  .header__item {
    display: flex;
    max-width: 100%;
    position: relative;
    transform: none;
    width: 100%;
  }

  .header__item-list .header__item:last-child {
    margin: 0;
  }

  .header__item-list .header__item--active::before {
    opacity: 0;
  }

  .tabs__content {
    display: flex;
    justify-content: center;
  }

  .card-list {
    justify-items: center;
    justify-content: center;
    max-width: 300px;
  }

  .garantia-card {
    align-items: center;
  }

  .garantia-card__label {
    text-align: center;
    width: 100%;
  }

  .garantia-card__title {
    text-align: left;
    width: 100%;
  }

  .tab--maintainance {
    max-width: 350px;
    padding-top: 4rem;
  }

  .maintainance__description {
    text-align: center;
  }

  .maintainance__content {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }

  .services-card {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .services-card__content {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 1110px) {
  .section--thought-for {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 800px) {
  .section--thought-for {
    padding: 1rem 3rem 6rem;
  }

  .thought-for__title {
    margin-bottom: 5rem;
    max-width: 8em;
  }
}

/* TODO: This could be moved to a new file for the card-group component */
@media screen and (max-width: 800px) {
  .card-group__item {
    font-size: 1.8rem;
    line-height: calc(2.8 / 1.8);
  }
}

/* Section: Main Features */

.section--main-features {
  --fg-color: var(--white);

  margin: 0 auto;
  max-width: 110rem;
  /* TODO: Round values */
  padding: 14.1rem 1rem 27.5rem;
  width: 100%;
}

.section--main-features::before {
  background-color: var(--dark-blue);
  background-image: url("../images/benefits/main-features/bg--lines.svg"),
    url("../images/benefits/main-features/bg--circular-shape.svg"),
    linear-gradient(180deg, var(--dark-blue) 0%, var(--black) 100%);
  background-repeat: no-repeat;
  background-position: top center, bottom right, top;
}

.main-features__title {
  /* TODO: Round values */
  margin-bottom: 9.2rem;
  max-width: 8em;
}

.feature-list {
  column-gap: 10.5rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6rem;
}

/* TODO: Move feature icon and feature list to another file? */

.feature__icon {
  margin-bottom: 1rem;
}

.feature__title {
  margin-bottom: 1.4rem;
  max-width: 9em;
}

.feature__description {
  line-height: 1.25;
}

@media screen and (max-width: 1000px) {
  .section--main-features {
    padding: 10rem 3rem;
  }

  .feature-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .feature-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .section--main-features::before {
    background-color: var(--dark-blue);
    background-image: url("../images/benefits/main-features/bg--lines.svg"),
      url("../images/benefits/main-features/bg--circular-shape.svg"),
      linear-gradient(180deg, var(--dark-blue) 0%, var(--black) 100%);
    background-repeat: no-repeat;
    background-position: 13% top, right bottom, top;
    background-size: auto, 0, auto;
  }

  .feature-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .feature-list__item {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .feature__title {
    max-width: 9em;
  }

  .feature__description {
    max-width: 14em;
  }
}

/* Section: New Ways */

.section--new-ways {
  --fg-color: var(--white);

  display: grid;
  column-gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);
  margin: 0 auto;
  max-width: 110rem;
  padding: 12rem 1rem 0;
  row-gap: 17.2rem;
  width: 100%;
}

.section--new-ways::before {
  background-color: var(--black);
  background-image: url("../images/benefits/new-ways/bg--circular-shape.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.new-ways__title {
  max-width: 10em;
  grid-column:  1 / 6;
}

.new-ways__list {
  align-self: flex-start;
  column-gap: 11.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 7 / 13;
  grid-row: 1 / 3;
  margin-top: 2rem;
  row-gap: 6.5rem;
}

.new-ways__image {
  grid-row: 2 / 3;
  grid-column: 1 / 6;
  justify-self: flex-end;
  max-height: 68rem;
}

.new-way__title {
  margin-bottom: 2.5rem;
  max-width: 11.5em;
  width: 100%;
}

.new-ways-list__item .list__item {
  max-width: 14em;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .section--new-ways {
    padding: 6rem;
  }
}

@media screen and (max-width: 950px) {
  .section--new-ways {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .new-ways__title {
    grid-column: initial;
    grid-row: initial;
    max-width: 5em;
  }

  .new-ways__list {
    grid-column: initial;
    grid-row: initial;
  }

  .new-ways__image {
    justify-self: center;
    grid-column: initial;
    grid-row: initial;
  }
}

@media screen and (max-width: 650px) {
  .new-ways__list {
    column-gap: unset;
    grid-template-columns: 1fr;
    justify-self: flex-start;
    row-gap: 3rem;
  }

  .new-ways__image {
    object-fit: cover;
    height: 70vw;
    width: calc(100% + 12rem);
  }
}

/* Tab: Products and Services */

.tabs--services {
  background-image: url('../images/products-and-services/bg--circle.svg');
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__label {
  background-color: var(--light-blue);
  color: var(--white);
  position: absolute;
  padding: 0.5rem 1.6rem;
  right: 0;
}

.card__image {
  flex: 0 0 auto;
  margin-bottom: 2rem;
}

.card__title {
  margin-bottom: 1rem;
}

.card__title + .card__subtitle {
  margin-top: -0.5rem;
}

.card__subtitle {
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.card__content {
  flex: 1 1 100%;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.card__content-item {
  display: flex;
  line-height: 1.2;
}

.card__content-item::before {
  content: '- ';
  margin-right: 0.5rem;
}

.card__action {
  flex: 0 0 auto;
}

.tab {
  display: none;
}

.tab--active {
  display: grid;
}