/**
 * CONTENTS
 *
 * SECTIONS
 * Hero.................The main page hero.
 * List.................The list of articles.
 **/

.text-center {
  text-align: center;
}

.azul {
  color: #0451DD;
}

.gris {
  color: #AFAFAF;
}

.oscuro {
  color: #3C3C3C;
}

.medio {
  color: #333333;
}

.negro {
  color: #000;
}

.upper {
  text-transform: uppercase;
}

.din {
  font-family: DIN;
  font-style: normal;
  font-weight: bold;
}

.block {
  display: block;
}

.w-100 {
  width: 100%;
}

.letter-02 {
  letter-spacing: -0.02rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.initial {
  text-transform: initial;
}

::placeholder {
  color: #AFAFAF;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #AFAFAF;
}

::-ms-input-placeholder {
  color: #AFAFAF;
}

/*------------------------------------*\
  #SECTION-HERO
\*------------------------------------*/

.section--hero {
  padding: 9.5rem 0 0;
  width: 100%;
}

.section--hero::before {
  background-color: #F2F2F2;
}

.breadcrumbs, .contenido {
  display: flex;
}

@media(max-width: 767px) {
  .contenido {
    display: block;
  }
}

@media(max-width: 767px) {
  .breadcrumbs {
    position: absolute;
    width: 100%;
  }
}

.third {
  width: 30.4%;
}

.rest {
  width: 69.6%;
  padding-left: 6%;
}

@media(max-width: 767px) {
  .third, .rest {
    width: 100%;
  }
}

.between {
  display: flex;
  justify-content: space-between;
}

@media(max-width: 767px) {
  .between {
    display: block;
  }
}

.hero__title {
  margin-bottom: 4.5rem;
  max-width: 14em;
  font-size: 4.8rem;
  line-height: 1.25;
}

@media(max-width: 767px) {
  .hero__title {
    font-size: 3.6rem;
    margin-bottom: 1.7rem;
  }
}

.hero__text {
  max-width: 55rem;
  margin-bottom: 3rem;
  margin-left: -1px;
}

.text--body-01b {
  line-height: 1.7;
  font-size: 1.8rem;
}

@media(max-width: 767px) {
  .text--body-01b {
    line-height: 1.2;
    font-size: 1.6rem;
    padding: 0 2px;
    margin-bottom: 1.2rem;
  }
}

.hero__button {
  font-size: 1.6rem;
  line-height: calc(2.8 / 1.6);
}

.date {
  margin-top: 1.3rem;
  margin-bottom: 0;
}

@media(max-width: 767px) {
  .date {
    margin-top: 0;
    margin-left: 1px;
  }
}

.breadcrumbs h6 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: calc(2.8 / 1.6);
  padding: 4.2rem 0 4rem;
  letter-spacing: -0.01rem;
}

@media(max-width: 767px) {
  .breadcrumbs .third, .breadcrumbs .rest {
    text-align: center;
  }

  .breadcrumbs h6 {
    padding: 1.5rem 0;
    letter-spacing: 0.14rem;
    padding-left: 1.7rem;
  }

  .breadcrumbs h6.azul {
    color: white;
  }

  .contenido .third img {
    height: 20.2rem;
    object-fit: cover;
  }

  .contenido .rest {
    padding: 2rem 3rem;
  }
}

.negativo {
  margin-left: -0.9rem;
}

.no-round {
  border-radius: 0;
}

.extended {
  padding: 3.8rem 10rem;
  letter-spacing: 0.14rem;
}

@media(max-width: 767px) {
  .extended {
    display: inline-block;
    float: right;
    padding: 2rem;
    padding-left: 2.4rem;
    margin-top: 1.7rem;
    margin-right: -3rem;
  }
}

.button svg {
  margin-left: 1.4rem;
}

@media(max-width: 767px) {
  .button svg {
    margin-left: 0.5rem;
  }
}

.inline-block {
  display: inline-block;
}

.text--h1b {
  font-size: 3rem;
  font-weight: 500;
}

@media(max-width: 767px) {
  .text--h1b {
    font-size: 2.4rem;
    line-height: 1.3;
  }
}


/*------------------------------------*\
  #SECTION-LIST
\*------------------------------------*/

.section--list {
  padding: 12rem 2rem 4.7rem;
  width: 100%;
  max-width: 112rem;
  margin: auto;
}

@media(max-width: 767px) {
  .section--list {
    padding: 4rem 3rem;
  }
  .header form {
    margin-top: 3.4rem;
  }
}

.section--list::before {
  background-color: #FAFAFA;
  background-image: url(../images/blog/adorno2.svg), url(../images/blog/adorno1.svg);
  background-position: left 89%, right 41%;
  background-repeat: no-repeat;
}

.header, .filters {
  display: flex;
  justify-content: space-between;
}

.header {
  margin-bottom: 4.7rem;
}

@media(max-width: 767px) {
  .header, .filters {
    display: block;
  }

  .header {
    margin-bottom: 4rem;
  }
}

.input__search {
  background: #fff;
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  font-size: 1.6rem;
  line-height: 1.2;
  padding: 1.4rem 1.3rem 1.2rem;
  width: 31.7rem;
  padding-left: 4.2rem;
}

.search .absolute {
  top: 1.25rem;
  left: 1.45rem;
  width: 2rem;
  height: 2rem;
}

.filters {
  margin-bottom: 3.7rem;
}

.pills {
  max-width: 50%;
}

.pill {
  position: relative;
  display: inline-block;
  border: 1px solid #0451DD;
  border-radius: 22px;
  color: #0451DD;
  background: transparent;
  padding: 0.5rem 2.7rem 0.7rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.05rem;
  font-size: 1.5rem;
}

@media(max-width: 767px) {
  .pills {
    max-width: 100%;
  }
  .pill {
    margin-right: 0.7rem;
  }
}

.pill.active {
  background: #0451DD;
  color:  white;
  padding: 0.5rem 1.7rem 0.7rem 4.2rem;
}

.pill.active:before {
  content: url('../images/blog/list/tic.svg');
  position: absolute;
  left: 1.5rem;
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  position: absolute;
}

.order {
  padding: 0.3rem 0.9rem;
}

@media(max-width: 767px) {
  .order {
    text-align: center;
    margin-top: 3.4rem;
    padding-right: 5%;
  }
}

.order a {
  padding: 0.2rem 0.1rem;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.12rem;
  margin-left: 0.7rem;
  color: #afafaf;
}

.order a.active {
  color: #0451DD;
  border-bottom: 2px solid #0451DD;
}

.masonry {
  margin-bottom: 3.1rem;
  /* SACAR PARA MASONRY */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media(max-width: 767px) {
  .masonry {
    padding: 2px 9%;
    display: block;
    margin-bottom: 0;
  }
}

.card {
  display: inline-block;
  width: 33.8rem;
  border-radius: 0px 0px 8px 8px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgb(175 175 175 / 25%);
  transition: 0.4s;
  margin-bottom: 3.4rem;
  /* SACAR PARA MASONRY */
  flex: 0 0 33.8rem;
}

.card:hover {
  box-shadow: 0px 4px 20px rgb(4 81 221 / 15%);
}

.card-image {
  height: 22.3rem;
  object-fit: cover;
}

.card-body {
  padding: 3.4rem 3.1rem 0;
}

.card-body h3 {
  height: 13.5rem;
  overflow: hidden;
}

.underlined {
  display: block;
  border-bottom: 1px solid #0451DD;
  line-height: 1.7;
  margin-bottom: 2rem;
}

.card-footer {
  padding: 1.4rem 3.1rem 4.1rem;
  display: flex;
  justify-content: space-between;
}

.more {
  margin-top: 0.8rem;
  margin-bottom: 0;
  font-weight: 700;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.more svg {
  margin: 0 3px 2px 15px;
}

.load-more .button {
  padding: 1.2rem 4.4rem;
  letter-spacing: 0.14rem;
  border-radius: 4px;
}

@media(max-width: 767px) {
  .card {
    width: 100%;
    margin-bottom: 4.6rem;
  }

  .card-image {
    height: 17rem;
  }

  .card-body {
    padding: 2rem 1.6rem 0;
  }

  .card-body h3 {
    height: 10rem;
  }

  .card-footer {
    padding: 2.1rem 1.6rem 2.9rem;
  }

  .more {
    font-size: 1.2rem;
    margin-top: -2px;
  }

  .load-more .button {
    margin-top: 2px;
    margin-bottom: 2.8rem;
  }
}