.carousel__viewport {
  overflow: hidden;
  width: 100%;
}

.carousel__viewport.is-dragging {
  cursor: grabbing;
}

.carousel__viewport.is-draggable {
  cursor: grab;
}

.carousel__slides-wrapper {
  display: flex;
}

.carousel__slide {
  flex: 1 0 100%;
}

.carousel__control {
  cursor: pointer;
  padding: 1rem;
}
