/**
 * CONTENTS
 *
 * COMPONENTS
 * Nav.................Site's navbar.
 * Footer..............Site's footer.
 * Contact Form........Site's contact form.
 * Show - Hide

 **/

 /*------------------------------------*\
  #COMPONENT-NAV
\*------------------------------------*/

.nav {
  display: flex;
  justify-content: center;
  background: transparent;
  height: 9.4rem;
  left: 0;
  position: fixed;
  top: 0;
  transition: background-color 0.2s;
  width: 100vw;
  z-index: var(--z-navbar);
}

.nav__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 144rem;
  padding: 0 10rem 0 6rem;
  width: 100%;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.nav__logo-container {
  max-width: 13.65rem;
  z-index: 1;
}

.nav__logo {
  height: auto;
  width: 13.7rem;
  margin-top: 0.7rem;
  margin-left: 0.2rem;
}

.nav__link {
  align-items: center;
  color: var(--white);
  display: inline-block;
  font-family: inherit;
  font-weight: 600;
  margin-right: 2.4rem;
  position: relative;
  text-decoration: none;
}

.nav__link::before {
  background-color: var(--blue);
  height: 0.7rem;
  position: absolute;
  top: calc(200% + 0.9rem);
  width: 100%;
}

.nav__link--active::before {
  content: '';
}

.nav__break {
  background-color: var(--white);
  height: 5.1rem;
  margin-right: 2.4rem;
  width: 1px;
}

.nav__button {
  align-items: center;
  background-color: var(--button-bg-color, var(--blue));
  border-radius: 0.4rem;
  color: var(--button-fg-color, var(--white));
  display: flex;
  font-family: inherit;
  font-weight: 700;
  justify-content: center;
  line-height: calc(2 / 1.4);
  height: 3.6rem;
  width: 10.9rem;
  text-decoration: none;
}

.nav__button--primary {
  margin-right: 1.4rem;
}

.nav__button--secondary {
  background: var(--white);
  color: var(--black);
  --button-bg-color: var(--white);
  --button-fg-color: var(--black);
}

.nav__menu-toggle {
  display: none;
}

.nav__menu-toggle:focus {
  outline: none;
}

.nav--scrolled,
.nav--dark {
  background-color: var(--black);
}

.nav--active::after {
  transform: none;
}

.nav--active .nav__links.nav__links {
  animation: slideIn 0.2s 0.05s both;
  display: flex;
}

@media screen and (max-width: 1100px) {
  .nav__container {
    padding: 0 2rem;
  }

  .nav__container::after {
    background-color: var(--black);
    background-image: url('../images/nav/bg.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    content: '';
    height: var(--full-height);
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.2s;
    width: 100vw;
    z-index: -1;
  }

  .nav__links {
    align-items: flex-start;
    display: none;
    flex-direction: column;
    height: var(--full-height);
    justify-content: flex-start;
    left: 0;
    overflow: auto;
    padding: 17rem 3rem 10rem 8.3rem;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .nav__link {
    font-size: 2.4rem;
    line-height: 1;
    margin-bottom: 3.5rem;
    margin-right: 0;
  }

  .nav__link--active::before {
    height: calc(100% + 1rem);
    left: -2rem;
    top: -0.4rem;
    width: 0.5rem;
  }

  .nav__break {
    display: none;
  }

  .nav__button {
    font-size: 1.6rem;
    margin-top: 2.4rem;
    min-height: 4.5rem;
    width: 18.6rem;
  }

  .nav__menu-toggle {
    background: none;
    border: none;
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
  }

  .nav--active {
    background-color: var(--black);
  }

  .nav--active .nav__container::after {
    transform: none;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/*------------------------------------*\
  #COMPONENT-FOOTER
\*------------------------------------*/

.footer {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(2, auto);
  row-gap: 6.7rem;
  color: var(--white);
  padding: 5rem 7rem 0;
  justify-items: center;
}

@media (max-width: 970px) {
  .footer {
    grid-template-rows: repeat(3, auto);
  }
}


@media (max-width: 540px) {
  .footer {
    grid-template-rows: repeat(4, auto);
  }
}


.footer::before {
  background-color: var(--mine-shaft);
}

.footer__logo-container {
  justify-self: start;
  grid-column: 1/4;
  grid-row: 1/2;
}

.footer__logo {
  height: 3rem;
  margin-bottom: 3rem;
  width: 11.8rem;
}

.footer__contact-info {
  color: var(--grey);
  max-width: 24rem;
}

.footer__links-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  grid-column: 7/14;
  grid-row: 1/2;
}

@media (max-width: 1200px) {
  .footer__links-container {
    grid-column: 6/15;
  }
}

@media (max-width: 970px) {
  .footer__links-container {
    grid-column: 1/19;
    grid-row: 2/3;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .footer__links-container {
    flex-direction: column;
  }
}

.footer__nav-links-list {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

@media (max-width: 540px) {
  .footer__nav-links-list  {
    margin-bottom: 4.4rem;
  }
}

.footer__nav-link {
  font-size: 1.4rem;
  line-height: calc(2 / 1.4);
  margin-bottom: 2rem;
}

.footer__link:last-child {
  margin: 0;
}

.footer__social-net-title {
  font-size: 1.4rem;
  line-height: calc(2 / 1.4);
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.footer__social-net-links {
  display: flex;
  margin-bottom: 3.3rem;
}

.footer__social-net {
  margin-right: 3.4rem;
}

.footer__social-net:last-child {
  margin: 0;
}

.footer__dropdown-container {
  color: var(--grey);
  margin-bottom: 0.9rem;
}

.footer__dropdown {
  justify-content: space-between;
}

@media (max-width: 970px) {
  .footer__dropdown-title {
    margin-right: 1rem;
  }
}

.footer__dropdown-links-container {
  height: 100%;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height 0.5s ease;
}

.footer__dropdown-links-container.active {
  height: auto;
  max-height: 5rem;
}

.footer__dropdown-link {
  margin-right: 1rem;
}

.footer__dropdown-linkL:last-child {
  margin: 0;
}

.footer__dropdown-button.active {
  transform: rotate(90deg);
}

@media (max-width: 970px) {
  .footer__dropdown-links-container {
    justify-content: center;
    margin-bottom: 1rem;
  }
}

.footer__dropdown-links {
  margin-right: 1rem;
}

.footer__dropdown-links:last-child {
  margin: 0;
}

.footer__dropdown-links-img {
  padding: 0.5rem 0;
  width: 3.5rem;
}

@media (max-width: 970px) {
  .footer__dropdown-links-img {
    width: 2.5rem;
  }
}

.footer__buttons-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-row: 1/2;
  grid-column: 17/19;
}

@media (max-width: 970px) {
  .footer__buttons-container {
    grid-column: 18/19;
    align-items: flex-start;
  }
}

@media (max-width: 540px) {
  .footer__buttons-container {
    grid-column: 1/19;
    align-items: flex-start;
    grid-row: 3/4;
  }
}

.footer__button {
  align-items: center;
  border: 1px solid var(--white);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  width: 10.8rem;
  height: 3.5rem;
  font-size: 1.4rem;
  line-height: calc(2 / 1.4);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.footer__copyright {
  position: relative;
  grid-column: 1/19;
  grid-row: 2/3;
  text-align: center;
  padding: 1.8rem;
  width: 100%;
}

.footer__copyright::before {
  background-color: var(--mine-shaft);
  border-top: 1px solid var(--white);
}

@media (max-width: 970px) {
  .footer__copyright {
    grid-row: 3/4;
  }
}

@media (max-width: 540px) {
  .footer__copyright {
    grid-row: 4/5;
  }
}

/*------------------------------------*\
  #COMPONENT-FORM
\*------------------------------------*/

.section--contact {
  align-items: center;
  display: flex;
  padding: 15rem 2rem 11rem;
  width: 100%;
}

.section--contact::before {
  box-shadow: inset 0 -0.8rem 0 var(--blue);
  background-color: var(--black);
  background-image: url("../images/home/contact/lines-bg.svg"), url("../images/home/contact/circle-bg.svg"),
    url("../images/home/contact/l-bg.svg"), url("../images/home/contact/shape-bg.svg"),
    url("../images/home/contact/truck-bg.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center, left bottom, 60% bottom, 83% 10%, bottom right;
}

.contact__content-wrapper {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(10, 1fr);
  max-width: 108rem;
  width: 100%;
}

.contact__texts {
  color: var(--white);
  grid-column: 1 / 5;
  max-width: 24em;
}

.contact__title {
  margin-bottom: 1rem;
}

.contact__text {
  line-height: 1.2;
  max-width: 34.6rem;
  width: 100%;
}

.contact__form {
  display: grid;
  position: relative;
  grid-column: 5 / 11;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem 2.5rem;
  margin-top: 1.5rem;
}

.form__field {
  position: relative;
  width: 100%;
}

.form__field ::placeholder, .form__field select {
  color: var(--silver-chalice);
}

.form__field option:not(:checked) { 
  color: black; 
}

.form__field option:checked { 
  color: black; 
}

.form__field--textarea {
  grid-column: 1 / 3;
  max-width: 100%;
}

.form__field--select,
.form__field--select .field__input {
  cursor: pointer;
}

.form__field--select::before {
  content: url("../images/icons/chevron.svg");
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
  z-index: 1;
}

.form__field--textarea .field__input {
  max-height: 10em;
  min-height: 6em;
  resize: vertical;
}

.form__field--select:last-of-type {
  grid-column: 1 / 3;
}

.field__input {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--white);
  border-radius: 0.4rem;
  font-family: inherit;
  font-size: 1.5rem;
  margin: 0;
  padding: 1.5rem;
  position: relative;
  width: 100%;
}

/*
.field__input[name="company-name"]::placeholder {
  color: var(--blue);
}
*/

.field__label {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.form__submit-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 3;
  justify-self: flex-end;
  margin-top: 2rem;
}

.form__submit-button {
  align-self: flex-end;
  font-size: 1.6rem;
  max-width: 18rem;
  padding: 1.5rem;
  width: 100%;
}

.form__switch-container {
  align-items: flex-start;
  display: flex;
  grid-column: 1 / 2;
  margin-top: 2rem;
}

.form__switch-title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: calc(2.8 / 1.6);
  margin-right: 1.2rem;
}

.form__switch {
  background: var(--black-grey);
  position: relative;
  border-radius: 80px;
  width: 50px;
  height: 23px;
}

.form__switch.active {
  background: var(--blue);
}

.form__switch::before {
  background: var(--white);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
}

.form__switch.active::before {
  right: 3px;
  left: unset;
}

.form__switch-input {
  width: 100%;
  background: transparent;
  height: 100%;
  z-index: 5;
}

.form__submit-captcha {
  color: var(--white);
  background: var(--silver-chalice);
  border-radius: 4px;
  width: 30rem;
  height: 7.6rem;
  font-weight: normal;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}

.field-input__error-msg {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4rem;
  display: none;
  color: red;
  text-transform: uppercase;
}

.field-input__error-msg.active {
  display: block;
}

.form-msg {
  align-items: center;
  display: none;
  flex-direction: column;
  color: var(--white);
  justify-content: center;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.form-msg.active {
  display: flex;
}

.form-msg__icon {
  margin-bottom: 1.6rem;
  height: 8.2rem;
  width: 8.2rem;
}

.form-msg__title {
  font-weight: 400;
  font-size: 3.6rem;
  line-height: calc(4.4 / 3.6);
  margin-bottom: 0.8rem;
}

.form-msg__text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: calc(1.9 / 1.6);
}

.form-msg__button {
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 4px;
  line-height: calc(2.8 / 1.6);
  align-items: center;
  background: var(--blue);
  display: flex;
  justify-content: center;
  margin-top: 5.6rem;
  height: 4.5rem;
  width: 18.6rem;
}



@media screen and (max-width: 800px) {
  .contact__content-wrapper {
    grid-template-columns: 1fr;
  }

  .contact__texts,
  .contact__form {
    grid-column: 1;
  }

  .form__submit-container {
    flex-direction: column;
    grid-column: 1;
    width: 100%;
  }

  .form__submit-captcha {
    padding: 2rem;
    justify-content: flex-start;
    height: 76px;
    margin: 0;
    margin-bottom: 2.1rem;
    max-width: 30.4rem;
    width: 100%;
  }

  .form__submit-button {
    width: 18.6rem;
  }

  .form__submit-button {
    align-self: unset;
    flex: 1;
  }
}

@media screen and (max-width: 650px) {
  .contact__content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .contact__text {
    font-size: 1.6rem;
  }

  .contact__form {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    margin-top: 2rem;
  }

  .field__input {
    font-size: 1.6rem;
  }

  .form__field,
  .form__field--select:last-of-type,
  .form__submit-button,
  .form__field--textarea {
    grid-column: 1;
  }
}


/*------------------------------------*\
  #OTHERS
\*------------------------------------*/

  .text--h1 {
    font-size: 3.2rem;
  }

  .text--h3 {
    font-size: 2rem;
  }


.show-mob {
  display: none;
}

.plan-card__label {
    align-items: center;
    align-self: flex-end;
    background: var(--light-blue);
    border-radius: 0.2rem 0 0 0.2rem;
    color: var(--white);
    display: flex;
    height: 2.4rem;
    justify-content: center;
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    top: 2rem;
    width: 7rem;
}

@media screen and (max-width: 650px) {

.hide-mobile-640 {
  display: none;
}

.show-mob {
  display: block;
}

}