/**
 * CONTENTS
 *
 * SECTIONS
 * Hero.................The main page hero.
 * Benefits.............Benefits carousel.
 * Plans................Services Plans
 * Presence..................YPF main locations.
 * Testimonials.........Testimonials section.
 * Highlights...........Services Highlights.
 * Contact.................Contact Form.
 *
 **/

/*------------------------------------*\
  #SECTION-HERO
\*------------------------------------*/

.section--hero {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  max-width: 144rem;
  padding: 27.7rem 6rem 3.3rem 7.2rem;
  width: 100%;
}

.section--hero::before {
  background-color: var(--black);
  background-image: url(../images/home/hero/vectors-02.svg), linear-gradient(to top, var(--black), transparent),
    url(../images/home/hero/hero-bg.png);
  background-position: bottom, 50%;
  background-repeat: no-repeat;
  background-size: auto, cover, cover;
}

.hero__texts {
  color: var(--white);
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-right: 3rem;
  max-width: 48.7rem;
  width: 100%;
}

.hero__title {
  margin-bottom: 3.2rem;
  max-width: 12em;
  /*text-transform: uppercase;*/
}

.hero__text {
  line-height: 1.2;
  max-width: 25em;
  margin-bottom: 3rem;
}

.hero__button {
  font-size: 1.6rem;
  line-height: calc(2.8 / 1.6);
}

.hero__image-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 79.1rem;
  width: 100%;
}

.hero__image-wrapper:hover {
  cursor: pointer;
}

.hero__image-wrapper::before,
.hero__image-wrapper::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.hero__image-wrapper::before {
  background: url('../images/home/hero/white-shape.svg') no-repeat center center/contain;
  top: -14.5%;
  left: 0;
  width: 21%;
  height: 42%;
}

.hero__image-wrapper::after {
  background: url('../images/home/hero/blue-shape.svg') no-repeat center center/cover;
  top: calc(100% - 66px);
  left: 48%;
  width: 8vw;
  height: calc(8vw * 0.55);
}

.hero-images__video {
  width: 100%;
}

.hero__social-network-list {
  align-self: flex-end;
  align-items: center;
  display: flex;
  height: 6.5rem;
}

.social-network-list__item {
  padding: 2.2rem;
}

@media (max-width: 1300px) {
  .hero__social-network-list {
    margin-left: -3rem;
    margin-right: unset;
  }
}

@media (max-width: 1100px) {
  .hero-images__blue-shape {
    width: 80%;
  }
}

@media (max-width: 1000px) {
  .hero-images__white-shape {
    width: 80%;
  }
}

@media (max-width: 920px) {
  .section--hero {
    flex-direction: column;
    padding-top: 17rem;
  }

  .hero__texts {
    margin: 0;
    margin-bottom: 13.5rem;
  }
}

@media (max-width: 800px) {
  .section--hero {
    flex-direction: column;
    justify-content: flex-start;
    padding: 16rem 0 10rem 2rem;
  }

  .hero__text {
    margin-right: 0;
    max-width: 17em;
  }

  .hero-images__video {
    margin-left: -1rem;
  }

  .hero__social-network-list {
    align-self: flex-start;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
  }
}

@media (max-width: 700px) {
  .hero__slogan {
    font-size: 3.6rem;
  }
}


/*------------------------------------*\
  #SECTION-BENEFITS
\*------------------------------------*/

.section--benefits {
  --fg-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.4rem 0 7rem;
  position: relative;
}

.section--benefits::before {
  background-color: var(--black);
  background-image: url('../images/home/benefits/vectors-01.svg'), url('../images/home/benefits/figures-01.svg'),
    url('../images/home/benefits/figures-02.svg');
  background-position: top, left 139px, right 139px;
  background-repeat: no-repeat;
  background-size: auto, auto, auto;
}

.benefits__title {
  margin-bottom: 1.5rem;
}

.benefits__text {
  line-height: 1.2;
  margin-bottom: 3rem;
  padding: 0 2rem;
  text-align: center;
}

.benefits__button {
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.benefits-list {
  --card-spacing: 3rem;
  display: flex;
  flex-flow: row wrap;
  max-width: 77rem;
  width: 100%;
}

.benefits-list.carousel {
  max-height: 42rem;
  overflow: hidden;
}

.benefits-list .carousel__slides-wrapper {
  display: flex;
  margin-bottom: 4.9rem;
  margin-left: calc(var(--card-spacing) * -1);
}

.benefits-list .carousel__controls {
  display: flex;
  justify-content: center;
  width: 100%;
}

.benefits-list .carousel__control {
  color: var(--light-blue);
}

.benefits-list .carousel__control:first-child {
  margin-right: 1rem;
}

.benefits-list .carousel__slide {
  display: flex;
  flex: 1 0 auto;
  padding-left: var(--card-spacing);
  position: relative;
}

.benefits-card {
  --fg-color: var(--black);

  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: 0.6rem;
  padding: 7rem 0 1.5rem;
  position: relative;
  text-align: center;
  transition: transform 0.5s ease;
  width: 24.3rem;
  transform: scale(0.9);
}

.benefits-list .carousel__slide--active .benefits-card {
  transform: unset;
  box-shadow: 0px 4px 40px rgba(4, 81, 221, 0.7);
}

.benefits-card__label {
  align-items: center;
  align-self: flex-end;
  background: var(--light-blue);
  border-radius: 0.2rem 0 0 0.2rem;
  color: var(--white);
  display: flex;
  height: 2.4rem;
  justify-content: center;
  margin-bottom: 3.2rem;
  text-transform: uppercase;
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 2rem;
  width: 7rem;
}

.benefits-card--new .benefits-card__label {
  visibility: visible;
}

.benefits-card__icon {
  margin-bottom: 1.8rem;
}

.benefits-card__title {
  margin-bottom: 1rem;
}

.benefits-card__text {
  color: var(--mid-black-grey);
  max-width: 14em;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .benefits__text {
    max-width: 29.8rem;
  }

  .benefits-list .carousel__slides-wrapper {
    margin-left: -0.9rem;
  }

  .benefits-list .carousel__slide {
    padding-left: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .benefits::before {
    background-image: url('../images/home/benefits/vectors-01.svg'), url('../images/home/benefits/figures-01.svg');
    background-position: top, left 139px;
    background-repeat: no-repeat;
    background-size: auto, auto;
  }
}

/*------------------------------------*\
  #SECTION-NEWS
\*------------------------------------*/

.section--news {
  --fg-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15.4rem 0 7rem;
  position: relative;
}

.section--news::before {
  background-color: var(--black);
  background-image: url('../images/home/news/bg-1.svg'), url('../images/home/news/bg-2.svg'),
    url('../images/home/news/bg-3.svg');
  background-position: left, right top, right bottom;
  background-repeat: no-repeat;
  background-size: auto, auto, auto;
}

.news__content-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  max-width: 1200px;
  gap: 4rem;
  padding: 0 10rem;
  width: 100%;
}

.contact__texts {
  color: var(--white);
}

.news__pic {
  position: relative;
}

.news__title {
  margin-bottom: 3rem;
}

.news__text {
  line-height: 1.2;
  margin-bottom: 3rem;
}

.news__button {
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem; 
  margin-top: 3rem;
}

.section--news .list--with-checks .list__item::before {
    content: url(../images/icons/icon--light-check.svg);
    speak: none;
    margin-right: 2rem;
}

.section--news .list--with-checks .list__item {
  margin-bottom: 20px;
}

.tit--label {
  background: var(--light-blue);
  border-radius: 2px 0px 0px 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 0.25em 1em; 
  text-transform: uppercase;
}

.cont-info--label {
  position: relative;
}


.info--label {
  background: var(--light-blue);
  color: #fff;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  line-height: 2.2rem;
  padding: 1em 1.5em;
  position: absolute;
  text-align: center;
}

.info--label.right {
  right: 20px;
}

.info--label small {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.info--label.top {
  top: 0px;
  right: 0px;
}

.info--label.bottom {
  bottom: 0;
  right: 0px;
}

.news-list  {
  --card-spacing: 3rem;
  display: flex;
  flex-flow: row wrap;
  max-width: 1180px;
  width: 100%;
}

.news-list.carousel {
  overflow: hidden;
  position: relative;
  align-items: center;
  padding: 0 30px; 
}

.news-list  .carousel__slides-wrapper {
  display: flex;
  /*margin-bottom: 4.9rem;*/
  margin-left: calc(var(--card-spacing) * -1);
}

.news-list .carousel__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.news-list .carousel__controls button {
  background-color: #fff;
  border-radius: 100%;
  padding: 0.9rem;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.news-list .carousel__control {
  color: var(--light-blue);
}

.news-list  .carousel__control:first-child {
  margin-right: 1rem;
}

.news-list  .carousel__slide {
  display: flex;
  flex: 1 0 auto;
  padding-left: var(--card-spacing);
  position: relative;
}

@media screen and (max-width: 1000px) {
  .benefits__text {
    max-width: 29.8rem;
  }

  .news-list .carousel__slides-wrapper {
      margin-left: -0.9rem;
    }

  .news-list .carousel__slide {
      padding-left: 2rem;
    }
}

@media screen and (max-width: 640px) {

  .news-list.carousel {
    align-items: unset;
  }

  .news-list .carousel__controls {
    margin-top: 360px;
  }

  .news__content-wrapper {
    display: block;
    max-width: unset;
    padding: 0 10px 0 0;
    width: 34rem;
  }

.news__pic img {
  width: 100%
}

.news__pic.mob {
  margin-bottom: 30px;
}

} 


/*------------------------------------*\
  #SECTION-PRESENCE
\*------------------------------------*/

.section--presence {
  background-color: var(--white);
  display: flex;
  flex-flow: row nowrap;
}

.presence__map-container {
  background-color: var(--light-grey);
  flex-grow: 10 1 100%;
  height: 100%;
  min-height: 46rem;
  position: relative;
  width: 100%;
}

.presence__map {
  display: flex;
  height: 100%;
  min-height: inherit;
  position: relative;
  width: 100%;
}

.presence__texts {
  flex: 4 0 41.2rem;
  padding: 11rem 6.3rem 10rem 4.7rem;
  width: 100%;
}

.presence__title {
  font-weight: 500;
  margin-bottom: 2.4rem;
  max-width: 8em;
}

.presence__text {
  line-height: 1.2;
  margin-bottom: 5rem;
}

.presence__link {
  color: var(--blue);
  font-weight: bolder;
}

@media (max-width: 800px) {
  .section--presence {
    flex-direction: column-reverse;
  }

  .presence__map-container {
    flex: initial;
    min-height: 44.2rem;
  }

  .presence__texts {
    flex: initial;
    max-width: 22em;
    padding: 4rem 4rem 7rem 2rem;
  }
}

/*------------------------------------*\
  #SECTION-TESTIMONIALS
\*------------------------------------*/

.section--testimonials {
  background-color: var(--white);
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: 24rem repeat(2, auto);
  position: relative;
}

.testimonials__texts {
  background-color: var(--dark-blue);
  background-image: url(../images/home/testimonials/vectors-05.svg), linear-gradient(to top, transparent, var(--black));
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 23rem 2rem 18.3rem 9.8vw;
  grid-column: 11 / 19;
  grid-row: 1/4;
  width: 100%;
}

.testimonials__title {
  margin-bottom: 2.4rem;
  max-width: 8em;
  width: 100%;
}

.testimonials__text {
  line-height: 1.2;
  max-width: 30em;
  width: 100%;
  margin-bottom: 13.6rem;
}

.testimonials__button {
  font-size: 1.6rem;
}

.testimonials__image {
  grid-column: 1/11;
  grid-row: 1/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .section--testimonials {
    display: flex;
    flex-direction: column;
  }

  .testimonials__texts {
    order: 2;
    padding: 13.7rem 2rem 7.3rem 1.8rem;
    background-color: var(--dark-blue);
    background-image: linear-gradient(to top, transparent, var(--black))
  }

  .testimonials__image {
    order: 3;
  }

  .testimonials__text {
    margin-bottom: 8.1rem;
  }
}

@media screen and (max-width: 750px) {
  .testimonials__title {
    max-width: 6em;
  }

  .testimonials__text {
    max-width: 26em;
  }
}

/*------------------------------------*\
  #SECTION-HIGHLIGHTS
\*------------------------------------*/

.section--highlights {
  margin: 0 auto;
  max-width: 118rem;
  padding: 13rem 2rem 14.8rem;
  position: relative;
  width: 100%;
}

.section--highlights::before {
  background-image: url('../images/home/highlights/figure-01.svg');
  background-repeat: no-repeat;
  background-position: calc(50% + 39.7rem) top;
}

.highlights__title {
  font-weight: 500;
  margin-bottom: 10rem;
  max-width: 15em;
  width: 100%;
}

.highlights__card-list {
  display: grid;
  column-gap: 3.75rem;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 6rem;
  width: 100%;
}

.highlights__card {
  display: flex;
  flex-direction: column;
}

.highlights__card:last-child {
  margin: 0;
}

.highlights-card__icon {
  align-self: flex-start;
  margin-bottom: 1.7rem;
}

.highlights-card__title {
  margin-bottom: 1.6rem;
  max-width: 10em;
}

.highlights-card__text {
  line-height: 1.2;
}

@media screen and (max-width: 1200px) {
  .highlights__card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .highlights__card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .section--highlights  {
    padding: 8rem 2rem;
    align-items: flex-start;
  }

  .highlights__card-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }

  .highlights-card__text {
    max-width: 14em;
  }
}

@media screen and (max-width: 500px) {
  .section--highlights {
    padding: 10rem 4rem 10rem;
  }

  .highlights__title {
    margin-bottom: 6rem;
    max-width: 6em;
  }

  .highlights__card-list {
    grid-template-columns: 1fr;
  }
}


/*------------------------------------*\
  #SECTION-PLANS
\*------------------------------------*/

.section--plans {
  --fg-color: var(--mid-black-grey);

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 9rem 2rem 10.6rem;
  z-index: 1;
}

.section--plans:before {
  background-color: var(--white-sand--translucent-100);
  background-image: url(../images/home/plans/vectors-06.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.plans__title {
  margin-bottom: 2.2rem;
  text-align: left;
}

.plans__text {
  margin-bottom: 6.6rem;
}

.plans__card-list {
  align-items: flex-start;
  display: flex;
  max-width: 113rem;
  width: 100%;
}

.plan-card {
  background-color: var(--white);
  background-image: url(../images/home/plans/figures-10.svg), url(../images/home/plans/figures-11.svg);
  background-position: 0 100%, 100% 0;
  background-repeat: no-repeat;
  border-radius: 0.6rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex: 1 0 33rem;
  flex-direction: column;
  height: 49.7rem;
  margin-right: 2rem;
  max-width: 36rem;
  min-width: 36rem;
  padding: 9.3rem 2.5rem 2.8rem 5.1rem;
  width: 100%;
  /*transition: transform 0.5s ease;*/
  transition: all 0.3s ease-in-out 0s;
    transform: scale(1);
}

.plan-card:last-child {
  margin-right: 0;
}

.plan-card__title {
  color: var(--dark-blue);
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.plan-card__description {
  font-weight: bold;
  line-height: calc(20 / 14);
  margin-bottom: 2.7rem;
  max-width: 18.2em;
}

.plan-card__button {
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 1.4rem;
  line-height: calc(1.7 / 1.4);
  width: 14.3rem;
  height: 3.6rem;
}

.plan-card__feature-list {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-bottom: 2.2rem;
}

.carousel__slide--active .plan-card__button {
  display: flex;
}

.carousel__slide--active .plan-card {
  --fg-color: var(--white);
  background-color: var(--dark-blue);
  color: var(--white);
  /*flex: 1 0 36rem;*/
  padding-top: 5.8rem;
  height: auto;
  /*transition: transform 0.5s ease;*/
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.05);
}

.carousel__slide--active .plan-card .plan-card__title {
  color: var(--light-blue);
}

.carousel__slide--active .plan-card .plan-card__button {
  --button-bg-color: var(--white);
  --button-fg-color: var(--dark-blue);
}


/* Plans carousel */

.plans-list  {
  --card-spacing: 3rem;
  display: flex;
  flex-flow: row wrap;
  max-width: 1180px;
  width: 100%;
}

.plans-list.carousel {
  overflow: hidden;
  position: relative;
  /*align-items: center;*/
  padding: 0 30px; 
}

.plans-list.carousel .carousel__viewport {
  padding-top: 20px;
}

.plans-list  .carousel__slides-wrapper {
  display: flex;
  margin-bottom: 4.9rem;
  margin-left: calc(var(--card-spacing) * -1);
}

.plans-list  .carousel__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-top: 20%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.plans-list  .carousel__controls button {
  background-color: #fff;
  border-radius: 100%;
  padding: 0.9rem;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.plans-list  .carousel__control {
  color: var(--light-blue);
}

.plans-list  .carousel__control:first-child {
  margin-right: 1rem;
}

.plans-list  .carousel__slide {
  display: flex;
  flex: 1 0 auto;
  padding-left: var(--card-spacing);
  position: relative;
}


@media (max-width: 1024px) {
  .plans__card-list {
    align-items: center;
    flex-direction: column;
  }

.plans-list.carousel {
  padding: 0 0px; 
}

  .plan-card {
    flex: 1 1 auto;
    height: auto;
    margin-bottom: 2.4rem;
    margin-right: 0;
    max-width: 30rem;
    min-width: 30rem;
    order: 2;
    padding: 4.7rem 2.5rem 2.8rem;
  }

  .plan-card--highlighted {
    order: 1;
  }

  .plans-list .carousel__slides-wrapper {
    /*margin-left: -0.9rem;*/
  }

  .plans-list .carousel__slide {
    padding-left: 2rem;
  }

.news-list .carousel__viewport {
  overflow: unset;
}


}

@media screen and (max-width: 600px) {
  .section--plans {
    align-items: flex-start;
  }

  .plans__title {
    max-width: 6em;
  }

  .plans__text {
    max-width: 18em;
  }

.plans-list .carousel__slides-wrapper {
  margin-bottom: 0;
}

.plans-list  .carousel__controls {
  justify-content: center;
  position: relative;
  left: auto;
  right: auto;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

}
