@font-face {
  font-display: swap;
  font-family: DIN;
  font-style: normal;
  font-weight: 400;
  src: local('DIN'), url(../fonts/DIN/DIN-Regular.otf);
}

@font-face {
  font-display: swap;
  font-family: DIN;
  font-style: normal;
  font-weight: 500;
  src: local('DIN'), url(../fonts/DIN/DIN-Medium.otf);
}

@font-face {
  font-display: swap;
  font-family: DIN;
  font-style: normal;
  font-weight: 700;
  src: local('DIN'), url(../fonts/DIN/DIN-Bold.otf);
}

@font-face {
  font-display: swap;
  font-family: DIN;
  font-style: normal;
  font-weight: 800;
  src: local('DIN'), url(../fonts/DIN/DIN-ExtraBold.otf);
}

@font-face {
  font-display: swap;
  font-family: DIN;
  font-style: normal;
  font-weight: 900;
  src: local('DIN'), url(../fonts/DIN/DIN-Black.otf);
}

:root {
  --silver: #c4c4c4;
  --blue: #0451dd;
  --dark-blue: #00407b;
  --light-blue: #00adee;
  --white: #fff;
  --black: #000;
  --black--translucent-100: rgba(0, 0, 0, 0.8);
  --grey: #858585;
  --light-grey: #f2f2f2;
  --white-sand: #e6e6e6;
  --white-sand--translucent-100: #e6e6e633;
  --mid-grey: #455660;
  --black-grey: #333;
  --mid-black-grey: #3c3c3c;
  --mine-shaft: #252525;
  --silver-chalice: #afafaf;
  --tundora: #4e4e4e;
  --full-height: calc(var(--vh, 1vh) * 100);
  --z-navbar: 50;
  --z-modal: 100;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  -webkit-font-smoothing: antialiased;
  color: var(--black);
  font-family: DIN, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 1.5;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

button,
input,
select,
textarea {
  border: 0;
  border-radius: 0;
}

button {
  background: transparent;
}

a,
button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active,
a:focus {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  list-style-type: inherit;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.text {
  color: var(--fg-color, inherit);
  font-family: inherit;
}

.text--h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: calc(5.8 / 4.8);
}

.text--h2 {
  font-size: 3.6rem;
  font-weight: 600;
  line-height: calc(4.4 / 3.6);
}

.text--h3 {
  font-size: 3rem;
  font-weight: 500;
  line-height: calc(4.4 / 3);
}

.text--h4 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: calc(3 / 2.4);
}

.text--h5 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -1%;
  line-height: calc(2.8 / 1.8);
}

.text--body-01 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: calc(2.5 / 1.6);
}

.text--body-02 {
  font-weight: 400;
}

.text--body-02,
.text--body-02-bold {
  font-size: 1.4rem;
  line-height: calc(2 / 1.4);
}

.text--body-02-bold {
  font-weight: 900;
}

.text--body-03 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: calc(1.5 / 1.3);
}

.text--body-04 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: calc(24 / 12);
}

.text--label-01-bold {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: calc(4.4 / 1.6);
  text-transform: uppercase;
}

.text--label-02 {
  font-weight: 400;
}

.text--label-02,
.text--label-02-bold {
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}

.text--label-02-bold {
  font-weight: 600;
}

.link {
  align-items: center;
  display: inline-flex;
}

.link__arrow {
  margin-left: 1rem;
}

.button {
  align-items: center;
  background-color: var(--button-bg-color, var(--blue));
  border-radius: 0.4rem;
  color: var(--button-fg-color, var(--white));
  display: flex;
  font-family: inherit;
  font-weight: 700;
  justify-content: center;
  line-height: calc(2 / 1.4);
}

.button--primary {
  --button-bg-color: var(--blue);
  --button-fg-color: var(--white);
}

.button--secondary {
  --button-bg-color: var(--white);
  --button-fg-color: var(--black);
}

.button--large {
  height: 4.5rem;
  width: 18.6rem;
}

.button--small {
  height: 3.6rem;
  width: 10.9rem;
}

.button--dark-blue {
  --button-bg-color: var(--dark-blue);
}

.button--light-blue {
  --button-bg-color: var(--light-blue);
}

.button--ghost {
  background-color: transparent;
  border: 1px solid var(--button-fg-color);
  color: var(--button-fg-color);
}

.background {
  position: relative;
}

.background::before {
  content: "";
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 100vw;
  z-index: -1;
}

.hidden-overflow {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.main-layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 144rem;
  position: relative;
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.section::before {
  background-color: var(--white);
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translate(-50%);
  width: 100vw;
  z-index: -1;
}

/* Lists */

.list {
  list-style: inside;
}

.list__item {
  align-items: flex-start;
  display: flex;
}

.list__item::before {
  content: '-';
  margin-right: 0.5em;
}

.list--with-checks .list__item::before {
  content: url('../images/icons/icon--dark-check.svg');
  speak: none;
  margin-right: 2rem;
}

.list--with-light-checks .list__item::before {
  content: url('../images/icons/icon--light-check.svg');
  speak: none;
  margin-right: 2rem;
}

.section {
  animation: appear 0.2s ease-in-out both;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(2vh);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
