/* Section: Analytics */

.section--plans {
  --fg-color: var(--black);

  margin: 0 auto;
  max-width: 107rem;
  padding: 24.8rem 0 7rem;
  position: relative;
  width: 100%;
}

.section--plans::before {
  background-image: url('../images/plans/plans/bg--lines.svg'), url('../images/plans/plans/bg--shapes.svg');
  background-position: calc(50% - 9.1rem) 9.4rem, calc(50% + 3rem) 32rem;
  background-repeat: no-repeat;
}

.plans__title {
  margin-bottom: 1.7rem;
  text-align: center;
}

.plans__text {
  line-height: calc(1.9 / 1.6);
  margin-bottom: 10.3rem;
  text-align: center;
}

.plans__plan-card-list {
  align-items: flex-start;
  display: flex;
}

.plan-card {
  --fg-color: var(--black);
  --fg-color--highlighted: var(--blue);
  --fg-color--title: var(--dark-blue);
  --bg-color: var(--white);
  --button-bg-color: var(--dark-blue);

  background-color: var(--bg-color);
  background-image: url('../images/plans/plans/shape--c.svg'), url('../images/plans/plans/shape--corner.svg');
  background-position: right top, left bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0.4rem 1.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  display: flex;
  flex: 1 0 33rem;
  flex-direction: column;
  margin-right: 2.4rem;
  padding: 8rem 2.5rem 2.8rem 3rem;
  max-width: 32rem;
  min-width: 32rem;

  width: 100%;
  /*transition: transform 0.5s ease;*/
  transition: all 0.3s ease-in-out 0s;
    transform: scale(1);
}

.plan-card:last-of-type {
  margin-right: 0;
}

.carousel__slide--active .plan-card {
  --fg-color: var(--white);
  --fg-color--highlighted: var(--light-blue);
  --fg-color--title: var(--light-blue);
  --bg-color: var(--dark-blue);
  color: var(--white);
  /*flex: 1 0 36rem;*/
  padding-top: 5.8rem;
  height: auto;
  /*transition: transform 0.5s ease;*/
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.05);
}

.plan-card--expanded {
  padding: 5.1rem 4.3rem;
}

.carousel__slide--active .plan-card--expanded {
  padding: 6.1rem 5.2rem 5rem;
}

.plan-card__title {
  color: var(--fg-color--title);
  font-weight: 500;
  margin-bottom: 0.9rem;
}

.carousel__slide--active .plan-card__title {
  margin-bottom: 1.7rem;
}

.plan-card__description {
  font-weight: bold;
  margin-bottom: 2.6rem;
}

.plan-card__expanded-content {
  display: none;
}

.plan-card--expanded .plan-card__expanded-content {
  display: block;
}

.plan-card__list-title {
  font-weight: bolder;
  margin-bottom: 0.4rem;
}

.plan-card__list-title:last-child {
  margin-bottom: 3rem;
}

.plan-card__list-title--highlighted {
  color: var(--fg-color--highlighted);
  margin-bottom: 1.5rem;
}

.plan-card__list {
  margin-bottom: 3.5rem;
}

.plan-card__list--highlighted {
  padding-left: initial;
}

.plan-card__list .list__item {
  margin-bottom: 0.4rem;
}

.plan-card__list--highlighted .list__item {
  margin-bottom: 0.8rem;
  padding-right: 1rem;
}

.plan-card .button {
  margin-bottom: 1rem;
  width: 14.3rem;
}

.plan-card .button--primary {
  --button-bg-color: var(--dark-blue);
  --button-fg-color: var(--white);
}

.plan-card .button--secondary {
  --button-fg-color: var(--blue);
}

.carousel__slide--active .button--primary {
  --button-bg-color: var(--white);
  --button-fg-color: var(--blue);
}

.carousel__slide--active .button--secondary {
  --button-fg-color: var(--white);
}

.plan-card__expander {
  /*bottom: 0;*/
  display: none;
  flex-flow: row wrap;
  /*left: 0;
  position: absolute;*/
  margin-top: 20px;
  width: 100%;
}

.carousel__slide--active .plan-card__expander {
  display: flex;
  flex-flow: row wrap;
}

.plan-card--expanded .plan-card__expander {
  display: none;
}

.plan-card-expander__label {
  color: var(--blue);
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

.carousel__slide--active .plan-card-expander__label {
  color: var(--white);
}

.plan-card-expander__button {
  background-color: var(--blue);
  padding: 0.75rem 0;
  width: 100%;
}

.plan-card-expander__button::before {
  content: url('../images/icons/icon--chevron-down.svg');
}

/* Plans carousel */

.plans-list.carousel .carousel__viewport {
  padding-top: 20px;
}

.plans-list  {
  --card-spacing: 3rem;
  display: flex;
  flex-flow: row wrap;
  max-width: 1180px;
  width: 100%;
}

.plans-list.carousel {
  overflow: hidden;
  position: relative;
  /*align-items: center;*/
  padding: 0 30px; 
}

.plans-list  .carousel__slides-wrapper {
  display: flex;
  margin-bottom: 4.9rem;
  margin-left: calc(var(--card-spacing) * -1);
}

.plans-list  .carousel__controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  width: 100%;
}

.plans-list  .carousel__controls button {
  background-color: #fff;
  border-radius: 100%;
  padding: 0.9rem;
  height: 40px;
  width: 40px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
}

.plans-list  .carousel__control {
  color: var(--light-blue);
}

.plans-list  .carousel__control:first-child {
  margin-right: 1rem;
}

.plans-list  .carousel__slide {
  /*display: flex;*/
  flex: 1 0 auto;
  padding-left: var(--card-spacing);
  position: relative;
}

/* RUTA CONTADO */

.section--ruta-contado {
    margin: 0 auto;
    max-width: 118rem;
    padding: 13rem 2rem 14.8rem;
    position: relative;
    width: 100%;
}

.section--ruta-contado::before {
  background-image: url('../images/plans/bg-ruta-01.svg'), url('../images/plans/bg-ruta-02.svg');
  background-position: -40% center, right center;
  background-repeat: no-repeat;
}

.ruta-contado__content-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
}

.ruta-contado__cards {
}

.ruta-contado__texts {
  padding: 30px;
}

.ruta-contado__texts-wrapper {
    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 36px;
}

.section--ruta-contado h2 {
  max-width: 870px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.section--ruta-contado h3 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 10px;
} 

.section--ruta-contado h4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 15px;
} 

.section--ruta-contado .button {
  margin-top: 20px;
}

@media (max-width: 1024px) {
  .plans__card-list {
    align-items: center;
    flex-direction: column;
  }

  .plan-card {
    flex: 1 1 auto;
    height: auto;
    margin-bottom: 2.4rem;
    margin-right: 0;
    max-width: 36rem;
    order: 2;
    padding: 4.7rem 2.5rem 2.8rem;
  }

  .plan-card--highlighted {
    order: 1;
  }

  .plans-list .carousel__slides-wrapper {
    /*margin-left: -0.9rem;*/
  }

  .plans-list .carousel__slide {
    padding-left: 2rem;
  }

}

@media screen and (max-width: 800px) {


.section--plans {
   padding: 16rem 2rem 6rem;
}

  .plans__plan-card-list {
    align-items: center;
    flex-direction: column;
  }
/*
  .plan-card {
    flex: initial;
    margin-right: 0;
    margin-bottom: 2rem;
    max-width: 350px;
    width: 100%;
  }
*/

/*
  .plans__text {
    margin-bottom: 5rem;
  }
*/

  .plans-list.carousel {
    padding: 0 0px; 
  }


  .plan-card {
    flex: 1 1 auto;
    height: auto;
    margin-bottom: 2.4rem;
    margin-right: 0;
    max-width: 30rem;
    min-width: 30rem;
    order: 2;
    padding: 4.7rem 2.5rem 2.8rem;
  }

  .plan-card--highlighted {
    order: 1;
  }

  .plans-list .carousel__slide {
    padding-left: 2rem;
  }

.news-list .carousel__viewport {
  overflow: unset;
}

.plans-list .carousel__slides-wrapper {
  margin-bottom: 0;
}

.plans-list  .carousel__controls {
  justify-content: center;
  position: relative;
  left: auto;
  right: auto;
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

}

@media screen and (max-width: 500px) {
  .plans__title {
    max-width: 7em;
    text-align: left;
  }

  .plans__text {
    max-width: 18em;
    text-align: left;
  }

}

/* Section: Benefits */

.section--benefits {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.benefits__callout {
  --fg-color: var(--white);

  background-color: var(--blue);
  display: flex;
  justify-content: space-between;
  grid-column: 1 / 6;
  padding: 10.6rem 9rem;
}

.benefits-callout__indicators {
  font-weight: bolder;
}

.benefits-callout__link {
  font-weight: bolder;
}

.benefits__texts {
  --fg-color: var(--white);

  align-content: center;
  align-items: flex-start;
  background-image: url('../images/plans/benefits/bg--lines.svg'), linear-gradient(180deg, var(--black) 0%, var(--dark-blue) 100%);
  background-position: calc(100% - 0.5rem) calc(100% - 1rem), top;
  display: flex;
  flex-direction: column;
  grid-column: 6 / 10;
  grid-row: 1 / 3;
  justify-content: center;
  padding: 2rem 4rem 2rem 14rem;
  padding-left: clamp(4rem, 10vmax, 14rem);
  text-align: left;
}

.benefits__title {
  margin-bottom: 2.2rem;
  max-width: 6em;
  width: 100%;
}

.benefits__text {
  line-height: 1.2;
  margin-bottom: 5.5rem;
  max-width: 25em;
}

.benefits__button {
  --button-bg-color: var(--light-blue);
}

.benefits__image {
  grid-column: 1 / 6;
  grid-row: 2 / 3;
  justify-self: flex-end;
  width: 100%;
}

@media screen and (max-width: 900px) {
  .section--benefits {
    grid-template-columns: 1fr;
  }

  .benefits__callout,
  .benefits__texts,
  .benefits__image {
    grid-column: initial;
    grid-row: initial;
  }

  .benefits__callout {
    display: none;
  }

  .benefits__texts {
    padding: 10rem 2rem;
  }

.ruta-contado__content-wrapper {
  flex-direction: column;
    width: 100%;
}

.ruta-contado__texts {
  margin-top: 0px;
  padding: 0;
}

.ruta-contado__cards img {
  width: 100%;
}

}
