/* Section: Analytics */

.section--hero {
  --fg-color: var(--white);

  align-items: center;
  margin: 9.2rem auto 0;
  max-width: 107rem;
  padding: 20rem 1rem 6rem;
  width: 100%;
}

.section--hero::before {
  background-image: url(../images/productos-and-services/bg--port.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin-bottom: 1.7rem;
  text-align: center;
}

.hero__text {
  line-height: calc(1.9 / 1.6);
  margin-bottom: 10.3rem;
  max-width: 40em;
  text-align: center;
}

/* Section: Tabs */

.section--addons {
  padding-top: 12rem;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  column-gap: 2rem;
  padding-top: 12rem;
  padding-bottom: 4rem;
  position: relative;
}

.tabs__header {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  grid-column: 2 / 5;
  position: -webkit-sticky;
  position: sticky;
  top: 14rem;
}

.header__title {
  color: var(--blue);
  margin-bottom: 8rem;
}

.header__item-list {
  display: flex;
  flex-direction: column;
}

.header__item {
  border-radius: 1rem;
  color: var(--mid-black-grey);
  cursor: pointer;
  margin-bottom: 3.4rem;
  max-width: 15em;
  transform: scale(0.85);
  transform-origin: left;
  transition: transform 0.2s, color 0.2s;
  padding: 1rem;
  position: relative;
  text-align: left;
  z-index: 0;
}

.header__item::before {
  border-radius: 1rem;
  background-color: var(--white);
  box-shadow: 0 0.35rem 3rem var(--blue--translucent-300);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  width: 100%;
  z-index: -1;
}

.header__item:hover {
  color: var(--blue);
}

.header__item--selection {
  display: none;
}

.header__item--active,
.header__item--selection {
  color: var(--blue);
  transform: none;
}

.header__item--active::before,
.header__item--selection::before {
  opacity: 1;
}

.tabs__content {
  grid-column: 6 / 12;
}

.tabs--addons {
  padding-top: 12rem;
  padding: 0;
}

.card-list {
  column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 8rem;
  row-gap: 8rem;
}

.sensors-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.sensors-card__title {
  margin-bottom: 1.6rem;
}

.sensors-card__label {
  background-color: var(--light-blue);
  color: var(--white);
  display: inline-block;
  margin-bottom: 2.4rem;
  padding: 0.5rem 2.5rem;
}

.sensors-card__content {
  line-height: 1.2;
}

.tab--maintainance {
  grid-template-columns: repeat(2, 1fr);
  row-gap: 7rem;
  padding-top: 17rem;
}

.maintainance__description {
  grid-column: 1 / 3;
  max-width: 34em;
}

.maintainance__content {
  display: grid;
  grid-column: 1 / 3;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-flow: column;
  row-gap: 2rem;
  width: 100%;
}

.feature {
  display: flex;
  font-size: 2rem;
}

.feature::before {
  background-image: url('../images/icons/icon--dark-check.svg');
  background-size: 100%;
  content: '';
  height: 2.4rem;
  margin-right: 2rem;
  margin-top: 0.4rem;
  width: 2.4rem;
}

.tab--services {
  row-gap: 4.7rem;
  grid-template-columns: 1fr;
}

.services-card {
  column-gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: flex-end;
}

.services-card__images {
  position: relative;
  height: 100%;
}

.services-card__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.services-card__texts {
  display: flex;
  flex-direction: column;
}

.services-card__title {
  margin-bottom: 1.6rem;
}

.services-card__action {
  flex: 1 0 auto;
}

.services-card__content {
  flex: 1 1 100%;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  max-width: 18em;
}

.services-card__label {
  background-color: var(--light-blue);
  color: var(--white);
  grid-column: 1;
  padding: 0.6rem 1.25rem;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 1250px) {
  .card-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 650px) {
  .tabs {
    grid-template-columns: 1fr;
  }

  .tabs__header,
  .tabs__content {
    grid-column: unset;
  }

  .header__title {
    max-width: 9.5em;
    text-align: center;
  }

  .tabs__header {
    align-items: center;
    padding: 0 2rem;
    top: -5rem;
    z-index: 1;
  }

  .header__item-list {
    align-items: stretch;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 0 0.35rem 3rem var(--blue--translucent-300);
    padding: 2rem;
    position: absolute;
    pointer-events: none;
    top: calc(100% - 2rem);
    transform: scale(0.9, 0) translateY(-10rem);
    transform-origin: top;
    transition: transform 0.2s;
    width: calc(100% - 4rem);
    z-index: 2;
  }

  .tabs__header--open .header__item-list {
    transform: none;
    pointer-events: all;
  }

  .header__item--selection {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .header__item--selection::after {
    content: url('../images/icons/icon--blue-chevron-down.svg');
    transition: transform 0.2s;
  }

  .tabs__header--open .header__item--selection::after {
    transform: rotate(-180deg);
  }

  .header__item {
    display: flex;
    max-width: 100%;
    position: relative;
    transform: none;
    width: 100%;
  }

  .header__item-list .header__item:last-child {
    margin: 0;
  }

  .header__item-list .header__item--active::before {
    opacity: 0;
  }

  .tabs__content {
    display: flex;
    justify-content: center;
  }

  .card-list {
    justify-items: center;
    justify-content: center;
    max-width: 300px;
  }

  .sensors-card {
    align-items: center;
  }

  .sensors-card__label {
    text-align: center;
    width: 100%;
  }

  .sensors-card__title {
    text-align: left;
    width: 100%;
  }

  .tab--maintainance {
    max-width: 350px;
    padding-top: 4rem;
  }

  .maintainance__description {
    text-align: center;
  }

  .maintainance__content {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
  }

  .services-card {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .services-card__content {
    margin-bottom: 2.5rem;
  }
}


/* Tab: Products and Services */

.tabs--services {
  background-image: url('../images/products-and-services/bg--circle.svg');
  background-repeat: no-repeat;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__label {
  background-color: var(--light-blue);
  color: var(--white);
  position: absolute;
  padding: 0.5rem 1.6rem;
  right: 0;
}

.card__image {
  flex: 0 0 auto;
  margin-bottom: 2rem;
}

.card__title {
  margin-bottom: 1rem;
}

.card__title + .card__subtitle {
  margin-top: -0.5rem;
}

.card__subtitle {
  font-weight: normal;
  margin-bottom: 1.5rem;
}

.card__content {
  flex: 1 1 100%;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.card__content-item {
  display: flex;
  line-height: 1.2;
}

.card__content-item::before {
  content: '- ';
  margin-right: 0.5rem;
}

.card__action {
  flex: 0 0 auto;
}


.tab {
  display: none;
}

.tab--active {
  display: grid;
}


/* Section: Highlights */

.section--highlights {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 1rem 15rem 6rem;
  width: 100%;
}

.highlights__header {
  --fg-color: var(--white);

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 13rem;
}

.highlights__title {
  align-items: center;
  display: flex;
  grid-column: 1 / 3;
  margin-left: -2.5rem;
  padding: 2rem 0;
  position: relative;
  width: 100%;
}

.highlights__title::before {
  background-color: var(--blue);
  content: '';
  height: 100%;
  position: absolute;
  transform: translateX(2.5rem);
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.highlights__shape {
  grid-column: 3 / 6;
}

.highlights__card-list {
  display: grid;
  column-gap: 3.75rem;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 6rem;
}

.highlights__card {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.highlights-card__icon {
  align-self: flex-start;
  margin-bottom: 1.7rem;
}

.highlights-card__title {
  margin-bottom: 1.6rem;
  max-width: 10em;
}

.highlights-card__text {
  line-height: 1.2;
}

@media screen and (max-width: 1200px) {
  .highlights__card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .highlights__card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 760px) {
  .highlights__header {
    grid-template-columns: 1fr;
    margin-bottom: 6rem;
    padding: 0;
  }

  .highlights__title {
    background-color: var(--blue);
    grid-column: initial;
    justify-content: center;
    margin-left: 0;
    max-width: 10em;
    padding: 6rem 2rem;
  }

  .highlights__title::before {
    left: 0;
    transform: translateX(-6rem);
  }

  .highlights__shape {
    display: none;
    grid-column: initial;
  }

  .highlights__card-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }
}

@media screen and (max-width: 500px) {
  .section--highlights {
    padding: 0 1rem 10rem;
  }

  .highlights__title {
    max-width: 6em;
    justify-content: flex-start;
    text-align: start;
  }

  .highlights__title::before {
    transform: translateX(-1rem);
  }

  .highlights__card-list {
    grid-template-columns: 1fr;
  }
}
