﻿<%@ Page Inherits="Microsoft.SharePoint.Publishing.TemplateRedirectionPage,Microsoft.SharePoint.Publishing,Version=14.0.0.0,Culture=neutral,PublicKeyToken=71e9bce111e9429c" %> <%@ Reference VirtualPath="~TemplatePageUrl" %> <%@ Reference VirtualPath="~masterurl/custom.master" %><%@ Register Tagprefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<html xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882"><head>
<!--[if gte mso 9]><SharePoint:CTFieldRefs runat=server Prefix="mso:" FieldList="FileLeafRef,Comments,PublishingStartDate,PublishingExpirationDate,PublishingContactEmail,PublishingContactName,PublishingContactPicture,PublishingPageLayout,PublishingVariationGroupID,PublishingVariationRelationshipLinkFieldID,PublishingRollupImage,Audience,PublishingPageImage,PublishingPageContent,SummaryLinks,ArticleByLine,ArticleStartDate,PublishingImageCaption,HeaderStyleDefinitions"><xml>
<mso:CustomDocumentProperties>
<mso:PublishingContact msdt:dt="string">15</mso:PublishingContact>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_PublishingContact msdt:dt="string">BORGOGNA, LILIANA NORA</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_PublishingContact>
<mso:PublishingContactPicture msdt:dt="string"></mso:PublishingContactPicture>
<mso:ContactoMostrarEmpresa msdt:dt="string">0</mso:ContactoMostrarEmpresa>
<mso:ContactoMostrarCaptcha msdt:dt="string">0</mso:ContactoMostrarCaptcha>
<mso:ContactoMostrarTipoUsuario msdt:dt="string">0</mso:ContactoMostrarTipoUsuario>
<mso:ContentTypeId msdt:dt="string">0x010100C568DB52D9D0A14D9B2FDCC96666E9F2007948130EC3DB064584E219954237AF3900242457EFB8B24247815D688C526CD44D00C68593EEC82EC34388A4615250322053</mso:ContentTypeId>
<mso:PublishingContactName msdt:dt="string"></mso:PublishingContactName>
<mso:Comments msdt:dt="string"></mso:Comments>
<mso:PublishingContactEmail msdt:dt="string"></mso:PublishingContactEmail>
<mso:PublishingPageLayout msdt:dt="string">http://edicion.grupo.ypf.com/productosyservicios/_catalogs/masterpage/PageFromDocLayout.aspx, Sólo cuerpo</mso:PublishingPageLayout>
<mso:ContactoMostrarPotenciaMediaAnual msdt:dt="string">0</mso:ContactoMostrarPotenciaMediaAnual>
<mso:PublishingPageContent msdt:dt="string">&lt;div class=&quot;ms-rtestate-read ms-rte-wpbox&quot;&gt;&lt;div class=&quot;ms-rtestate-notify  ms-rtestate-read 9cd3144a-c35f-4d93-82ac-747db22c97c7&quot; id=&quot;div_9cd3144a-c35f-4d93-82ac-747db22c97c7&quot; unselectable=&quot;on&quot;&gt;&lt;/div&gt;
&lt;div id=&quot;vid_9cd3144a-c35f-4d93-82ac-747db22c97c7&quot; unselectable=&quot;on&quot; style=&quot;display:none&quot;&gt;&lt;/div&gt;&lt;/div&gt;


​​​​​​</mso:PublishingPageContent>
<mso:PublishingRollupImage msdt:dt="string"></mso:PublishingRollupImage>
<mso:SummaryLinks msdt:dt="string">&lt;div title=&quot;_schemaversion&quot; id=&quot;_3&quot;&gt;
  &lt;div title=&quot;_view&quot;&gt;
    &lt;span title=&quot;_columns&quot;&gt;1&lt;/span&gt;
    &lt;span title=&quot;_linkstyle&quot;&gt;&lt;/span&gt;
    &lt;span title=&quot;_groupstyle&quot;&gt;&lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;</mso:SummaryLinks>
<mso:PublishingPageImage msdt:dt="string"></mso:PublishingPageImage>
<mso:Audience msdt:dt="string"></mso:Audience>
<mso:PublishingImageCaption msdt:dt="string"></mso:PublishingImageCaption>
<mso:ArticleByLine msdt:dt="string"></mso:ArticleByLine>
</mso:CustomDocumentProperties>
</xml></SharePoint:CTFieldRefs><![endif]-->
<title>Datos</title></head>